# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

##database connection
POSTGRES_USER="your_user"
POSTGRES_PASSWORD="your_super_secret_password"

##SECRET SHOULD BE THE SAME AS FRONT TO ALLOW USER TO CONNECT
##JWT SECRET
JWT_SECRET="your_jwt_secret"
